<section class='chat-container'>
  <header class="top-header" style="width:20em; height:3em; background-color:green;">
    <div class="header-left">
      <span>
        <i class="material-icons">insert_chart</i>
        <%= @user_name_received.first_name %> <%= @user_name_received.last_name %>
      </span>
    </div>
    <div class="header-right">
      <button class="close-chat" type="button" style="background-color:green; border-color:green; margin-left: 200px; margin-top: -40px;">
        <i class="small material-icons">close</i>
      </button>
    </div>
  </header>
    <ol class="discussion">
      <% @messages.each do |m| %>
      <% if m.user_id_sent == current_user.id %>
        <li class="self">
          <div class="img_user">
            <img src="http://static.minilua.com/wp-content/uploads/2011/09/cachorrinho-fofo_large_thumb.jpg" style="widht:30px; height:30px;" />
          </div>
          <div class="messages">
            <p><%= m.text %></p>
            <time datetime="<%= m.time%>">51 min</time>
          </div>
        </li>
      <% else %>
        <li class="other">
          <div class="img_user">
            <img src="http://static.minilua.com/wp-content/uploads/2011/09/cachorrinho-fofo_large_thumb.jpg" style="widht:30px; height:30px;" />
          </div>
          <div class="messages">
            <p><%= m.text %></p>
            <time datetime="<%= m.time%>"><%= @user_name_received.first_name%> • 51 min</time>
          </div>
        </li>
      <% end %>
    <%end%>
    </ol>
    <div class="container-form" style="border:2px solid blue; position:fixed; background-color:white; width:20em; height:5em;">
    <%= form_for :instant_message, url: user_instant_messages_path({user_id: @user_id_received}), method: :post do |f| %>
      <p>
        <%= f.text_field :text, placeholder: 'send one mensage' %>
      </p>
    <% end %>
  </div>
</section>