<section class='chat-container'>
  <header class="header">
    <div class="header-left">
      <span>
        <i class="material-icons">insert_chart</i>
        <%= @user_name_received.first_name %> <%= @user_name_received.last_name %>
      </span>
    </div>
    <div class="header-right">
      <button class="minimize" type="button">
        <i class="small material-icons">add</i>
      </button>
      <button class="close-chat" type="button">
        <i class="small material-icons">close</i>
      </button>
    </div>
  </header>
    <ol class="discussion">
      <% @messages.each do |m| %>
      <% if m.user_id_sent == current_user.id %>
        <li class="user">
          <div class="img_current-user">
            <img src="http://static.minilua.com/wp-content/uploads/2011/09/cachorrinho-fofo_large_thumb.jpg" style="widht:30px; height:30px;" />
          </div>
          <div class="messages">
            <p class="container-text-message"><%= m.text %></p>
            <time><%= m.str_time %></time>
          </div>
        </li>
      <% else %>
        <li class="user">
          <div class="img_user-received">
            <img src="http://static.minilua.com/wp-content/uploads/2011/09/cachorrinho-fofo_large_thumb.jpg" style="widht:30px; height:30px;" />
          </div>
          <div class="messages">
            <p class="container-text-message"><%= m.text %></p>
            <time><%= @user_name_received.first_name%> • <%= m.str_time %></time 
          </div>
        </li>
      <% end %>
    <%end%>
    <div class="container-form" style="border:2px solid blue; position:fixed; background-color:white; width:20em; height:5em;">
    <%= form_for :instant_message, url: user_instant_messages_path({user_id: @user_id_received}), method: :post do |f| %>
      <p>
        <%= f.text_field :text, placeholder: 'send one mensage' %>
      </p>
    <% end %>
  </div>
    </ol>
</section>