<div class="js-search-results">
  <div class="container">
    <div class="list-results">
      <div class="column-centered">
        <ol class="list-view">
          <li class="list-project">
            <div class="project-search">
              <h2 class="search-title">Enter your search above</h2>
            </div>
            <div class="project-search-results">
              <div class="media-round user-project-image">
                <img src="https://a2.muscache.com/defaults/user_pic-50x50.png?v=2" alt="">
              </div>
              <ul>
                <li><a href="#"><span class="project-name"> Teste</span></a></li>
                <li><span class="project-owner">by <b>Owner Name</b></span></li>
                <li><span class="project-description">project</span></li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="col s4">
  <div class="show-project-container">
    <div class="name-project-container">
      <h5>Projects List</h5>
    </div>
    <div class="list-projects-container">
      <% @projects.each do |project| %>
      <div class="row">
       <div class="s12">
        <%= link_to project_groups_path(project), class: 'collection-item' do %>
        <div class="col s6">
          <div class="project-name">
            <%= project.name %>
          </div>
        </div>
        <% end %>
        <div class="project-index-buttons">
          <%= link_to project_path(project) do %>
          <button class="btn waves-effect waves-light">Details</button>
          <% end %>
          <%= link_to edit_project_path(project) do %>
          <button class="btn waves-effect waves-light">Edit</button>
          <% end %>
          <%= link_to project_path(project), method: :delete do %>
          <button class="btn waves-effect waves-light"><i class="material-icons">delete</i></button>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<%= render "/projects/new" %>
