<button>
  <%= link_to "New Project", new_project_path, class: "waves-effect waves-light btn" %>
</button>

<div class="row">
  <div class="col s6 offset-s3">
    <h3>Project List:</h3>

    <div class="collection list-projects">

        <% @projects.each do |project| %>
          <%= link_to project_groups_path(project), class: 'collection-item' do %>
            <%= project.name %>
            <%= link_to project_path(project), method: :delete do %>
              <i class= "material-icons right">delete</i>
            <% end %>
            <%= link_to edit_project_path(project) do %>
              <i class= "material-icons right">settings</i>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

