<div class="col s4">
  <div class="show-project-container">
    <div class="name-project-container">
      <h5>Projects List</h5>
    </div>
    <div class="list-projects-container">
      <% @projects.each do |project| %>
      <div class="row">
       <div class="s12">
        <%= link_to project_groups_path(project), class: 'collection-item' do %>
        <div class="col s6">
          <div class="project-name">
            <h5><%= project.name %></h5>
          </div>
        </div>
        <% end %>
        <div class="project-index-buttons">
          <%= link_to project_path(project) do %>
          <button class="btn waves-effect waves-light">Details</button>
          <% end %>
          <%= link_to edit_project_path(project) do %>
          <button class="btn waves-effect waves-light">Edit</button>
          <% end %>
          <%= link_to project_path(project), method: :delete do %>
          <button class="btn waves-effect waves-light"><i class="material-icons">delete</i></button>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<%= render "/projects/new" %>
