<%= form_for :session, url: session_path do |form| %>
<div class="row">
  <div class="col s6">
    <div class="app_name-login-page">
      <h1>Welcome to</h1>
      <p>Trek</p>
    </div>
  </div>
  <div class="col s4">
    <div class="login-signup-container">
      <form class="col s12">
        <div class="row">
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <%= form.text_field :email, type: 'email', class: "validate" %>
            <%= form.label :email %>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">lock_outline</i>
            <%= form.password_field :password, class: "validate" %>
            <%= form.label :password %>
          </div>
        </div>
      </form>
      <div class="submit-login-field">
        <a class="waves-effect waves-light btn"><%= form.submit class: "form-submit-button" %></a>
      </div>
      <div class="sign_up-login-page">
        <% if Clearance.configuration.allow_sign_up? %>
        <%= link_to t(".sign_up"), sign_up_path %>
        <% end %>
      </div>
      <%= link_to t(".forgot_password"), new_password_path %>
      <% end %>
    </div>
  </div>
