<div class="new_group">
  <button>
    <%= link_to 'New group', new_project_group_path(@project), class: "waves-effect waves-light btn" %>
  </button>
</div>

<% if !@groups.empty? %> 

 <div class="row">

<% @groups.each do |group| %>
    <div class="col s4">
      <div class="card medium"> 
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="http://portfoliotheme.org/enigmatic/wp-content/uploads/sites/9/2012/07/placeholder1.jpg">
        </div>
<!-- ***********CARD CONTENT********* -->
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <%= link_to group.name, project_group_path(@project, group.id) %>
              <% if !group.tasks.empty? %>
                <i class="material-icons right">list</i>
              <% end %>
            </span>

            <div class="newTask">
              <%= link_to new_task_path(group_id: group.id) do %>
                <button class="btn waves-effect waves-light">New Task</button>
              <% end %>
              
              <%= link_to edit_project_group_path(@project, group) do %>
                <button class="btn waves-effect waves-light">Edit</button>
              <% end %>

              <%= link_to project_group_path(@project, group), :method => :delete do %>
                <button class="btn waves-effect waves-light">  
                  <i class="material-icons">delete</i>
                </button>
              <% end %>
            </div>
          </div>
<!-- ***********CARD CONTENT TASK'S********* -->
          <% if !group.tasks.empty? %>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Task's<i class="material-icons right">close</i></span><br>
                <div class="listTask">

                <table class="hoverable">
                  <thead><tr><th data-field="id">To-Do:</th></tr></thead>
                  <% group.tasks.each do |task| %>
                    <% if task.status == false %>
                    <tbody>
                      <tr>
                        <td><%= task.field %></td>
                        <td><%= link_to 'Done', toggle_task_path(task), method: :put %></td>
                        <td><%= link_to 'Edit', edit_task_path(task) %></td>
                      </tr>
                    </tbody>
                    <% end %>
                  <% end %>
                </table><br>

                <table class="hoverable">
                  <thead><tr><th data-field="id">Done:</th></tr></thead>
                  <% group.tasks.each do |task| %>
                    <% if task.status == true %>
                    <tbody>
                      <tr>
                        <td><%= task.field %></td>
                        <td>
                          <%= link_to task_path(task), method: :delete do %>
                             <i class="material-icons">delete</i>
                          <% end %>
                        </td>
                      </tr>
                    </tbody>
                    <% end %>
                  <% end %>
                </table><br>

              </div>
            </div>
          <% end %>

        </div> <!-- div card medium -->
      </div> <!-- div col s4 -->
    <% end %>
  </div> <!-- div row -->
<% end %>