<div class="container">
  <div class="user-panel">
    <%= form_for @user do |f| %>
    <div class="user-panel-header">
      Edit User
    </div>
    <div class="user-panel-body">
      <div class="row">
        <div class="col s6">
          <div class="profile-background-container">
            <div class="media-photo profile-picture">
              <img src="<%= @user.avatar.url %>">
            </div>
            <div class="media-photo media-round">
              <img src="<%= @user.avatar.url %>">
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="col s12">
            <div class="row">
              <div class="col s12">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: "validate" %>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: "validate" %>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <%= f.email_field :email, class: "validate" %>
                <%= f.label :email %>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <%= f.label :password %>
                <%= f.password_field :password, class: "validate"%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="button-upload">
            Group Image:
          <%= f.file_field :avatar %>
          </div>
        </div>
      </div>
    </div>
    <div class="user-panel-footer">
      <%= link_to dashboard_path, class: "btn waves-effect waves-light back-button" do %>
      Back
      <i class="material-icons left">replay</i>
      <% end %>
      <%= f.button 'SAVE', class: 'btn waves-effect waves-light' %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="user-panel">
    <div class="user-panel-header">
      Cancel Account
    </div>
    <div class="user-panel-body">
      <button class="btn waves-effect waves-light cancel-account-button" type="submit">Cancel Account</button>
    </div>
  </div>
</div>
