<div class="col s4">
  <div class="edit-project-container">
    <div class="name-edit-project-container">
      <h5>Edit Project</h5>
    </div>
    <div class="col s12">
      <div class="row">
        <%= form_for @project do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "validate" %>
        <%= f.label :description %>
        <%= f.text_field :description, class: "validate" %>
        <button class="btn waves-effect waves-light" type="submit"><% f.submit %>Update</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
